<mat-card>
  <mat-card-header>
    <img
      mat-card-avatar
      src="https://previews.123rf.com/images/blumer/blumer1410/blumer141000101/32994141-spaghetti-or-noodle-with-fork-black-vector-icon.jpg"
    />
    <mat-card-title><a href="#">Chicken Tetrazinni</a></mat-card-title>
    <mat-card-subtitle>Pasta Creamy Comfort</mat-card-subtitle>
  </mat-card-header>
  <div class="card-content-area">
    <div class="left">
      Description:
      <mat-card-content class="recipe-description">
        Tetrazzini is an American dish made with diced poultry or seafood and
        mushroom in a butter/cream and cheese sauce flavored with wine or
        sherry.
      </mat-card-content>
    </div>
    <div class="right">
      Ingredients:
      <ul>
        <li>Pasta</li>
        <li>Butter</li>
        <li>Yummies</li>
      </ul>
    </div>
  </div>
</mat-card>
