<mat-card>
  <mat-card-header>
    <img
      mat-card-avatar
      src="https://previews.123rf.com/images/blumer/blumer1410/blumer141000101/32994141-spaghetti-or-noodle-with-fork-black-vector-icon.jpg"
    />
    <mat-card-title><a href="#">Chicken Tetrazinni</a></mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list>
        <mat-basic-chip class="recipe-tag" color="accent">
          Pasta
        </mat-basic-chip>
        <mat-basic-chip class="recipe-tag" color="accent">
          Creamy
        </mat-basic-chip>
        <mat-basic-chip class="recipe-tag" color="accent">
          Comfort
        </mat-basic-chip>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>
  <div class="card-content-area">
    <div class="left">
      <h3>Description:</h3>
      <mat-card-content class="recipe-description">
        Tetrazzini is an American dish made with diced poultry or seafood and
        mushroom in a butter/cream and cheese sauce flavored with wine or
        sherry.
      </mat-card-content>
    </div>
    <div class="right">
      <h3>Ingredients:</h3>
      <ul>
        <li>Pasta</li>
        <li>Butter</li>
        <li>Yummies</li>
      </ul>
    </div>
  </div>
  <div class="action-button-container">
    <div class="left">
      <button mat-flat-button color="primary" class="mat-elevation-z1">
        <mat-icon>add_shopping_cart</mat-icon>
        To Shopping List
      </button>
      <button mat-stroked-button color="primary" class="mat-elevation-z1">
        <mat-icon>edit</mat-icon>
        Edit
      </button>
    </div>
    <button
      mat-stroked-button
      class="delete-button mat-elevation-z1"
      color="warn"
      aria-label="Delete Recipe Button"
    >
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
</mat-card>
