/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.component-container {
  margin-top: 10px;
}

.partial-divider {
  width: 90%;
  margin: 0 auto;
}
