<button mat-raised-button color="primary" class="new-recipe-button">
  New Recipe
</button>

<div
  class="recipe-card-container"
  fxLayout="row wrap"
  fxLayoutAlign="flex-start"
  fxLayoutGap="5px"
>
  <mat-card fxFlex="1 0 auto" *ngFor="let recipe of recipes">
    <mat-card-header>
      <img
        mat-card-avatar
        src="https://previews.123rf.com/images/blumer/blumer1410/blumer141000101/32994141-spaghetti-or-noodle-with-fork-black-vector-icon.jpg"
      />

      <mat-card-title>
        <a class="recipe-name" href="#">{{ recipe.name }}</a>
      </mat-card-title>

      <mat-card-subtitle>
        <mat-chip-list>
          <mat-basic-chip
            class="recipe-tag"
            color="accent"
            *ngFor="let tag of recipe.tags"
          >
            {{ tag + "&nbsp;" }}
          </mat-basic-chip>
        </mat-chip-list>
      </mat-card-subtitle>
    </mat-card-header>

    <div class="recipe-image" [ngStyle]="recipe.imageStyles"></div>

    <mat-card-content class="recipe-description">
      {{ recipe.description }}
    </mat-card-content>
  </mat-card>
</div>
