.new-recipe-button {
  position: absolute;
  top: 10px;
  right: 17px;
}

.recipe-card-container {
  margin-top: 10px;
}

mat-card {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 300px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.05);
  margin: 5px auto;
}

.recipe-name {
}

.recipe-tag {
  display: inline-flex;
  border-radius: 16px;
  align-items: center;
  cursor: default;
  padding: 4px 8px;
  font-size: 12px;
  margin: 1px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.recipe-image {
}
