<mat-card>
    <mat-card-header>
        <img mat-card-avatar src="https://previews.123rf.com/images/blumer/blumer1410/blumer141000101/32994141-spaghetti-or-noodle-with-fork-black-vector-icon.jpg" />
        <mat-card-title><a href="#">Chicken Tetrazinni</a></mat-card-title>
        <mat-card-subtitle>Pasta Creamy Comfort</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2010/12/10/0/EI1C07_Chicken-Tetrazzini_s4x3.jpg.rend.hgtvcom.616.462.suffix/1382539596721.jpeg" />
    <mat-card-content class="recipe-description">
        Tetrazzini is an American dish made with diced poultry or seafood and mushroom in a butter/cream and cheese sauce flavored with wine or sherry.
    </mat-card-content>
</mat-card>