<mat-action-list>
  <mat-list-item *ngFor="let item of ingredients">
    <div class="ingredient-container">
      <p class="ingredient-name">{{ item.name }}</p>

      <p class="ingredient-quantity">{{ item.quantity }} {{ item.unit }}</p>

      <button mat-button-icon color="warn" class="delete-button">
        <!-- <mat-icon class="material-icons">trash_delete_forever</mat-icon> -->
        <!-- <mat-icon
          svgIcon="delete_forever"
          aria-hidden="false"
          aria-label="Example thumbs up SVG icon"
          >X</mat-icon -->
        <span>&times;</span>
      </button>
    </div>
  </mat-list-item>
</mat-action-list>
<mat-divider [inset]="true"></mat-divider>
<h3>Total: $50</h3>
