<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="bookmark-tag"></div>
  <mat-card>
    <mat-card-header>
      <img
        mat-card-avatar
        src="https://previews.123rf.com/images/blumer/blumer1410/blumer141000101/32994141-spaghetti-or-noodle-with-fork-black-vector-icon.jpg"
      />
      <mat-card-title>
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Recipe Name"
            name="recipeName"
            ngModel
          /> </mat-form-field
      ></mat-card-title>
      <mat-card-subtitle>
        <mat-form-field class="example-full-width">
          <input
            matInput
            name="recipeTags"
            ngModel
            placeholder="Tags (comma-separated)"
            value="Tag 1, Tag 2, Tag 3"
          /> </mat-form-field
      ></mat-card-subtitle>
      <!-- TODO: Turn placeholder image into a URL field -->
      <div class="image-chooser-container">
        <img
          class=""
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTycdT_deXDbgenfaAC7mzKuiZel6cYmr7DkUiphA9ObRIoOqX&s"
        />
      </div>
    </mat-card-header>
    <div class="card-content-area">
      <div class="left">
        Description:
        <mat-card-content class="recipe-description">
          Tetrazzini is an American dish made with diced poultry or seafood and
          mushroom in a butter/cream and cheese sauce flavored with wine or
          sherry.
        </mat-card-content>
      </div>
      <div class="right">
        Ingredients:
        <ul>
          <li>Pasta</li>
          <li>Butter</li>
          <li>Yummies</li>
        </ul>
      </div>
    </div>
    <div class="action-button-container">
      <div class="left">
        <button mat-flat-button color="primary" class="mat-elevation-z1">
          <mat-icon>add_shopping_cart</mat-icon>
          Save Recipe
        </button>
      </div>
      <button
        mat-stroked-button
        class="reset-button mat-elevation-z1"
        color="accent"
        aria-label="Clear All Recipe Fields Button"
      >
        <mat-icon>clear_all</mat-icon>
      </button>
    </div>
  </mat-card>
</form>
